* {
    margin: 0;
    padding: 0;
  
    box-sizing: border-box;
  
    font-family: inherit;
  }
  
  body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  form {
    max-width: 600px;
    background-color: rgb(244, 225, 203);
  
    display: flex;
    flex-direction: column;
    gap: 20px;
  
    padding: 20px;
  
    font-family: 'Montserrat', sans-serif;
  }
  
  h1 {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: rgb(77, 114, 77);
  }
  
  input, textarea {
    padding: 20px;
    border: 0;
  }
  
  form textarea {
    min-height: 100px;
  }
  
  button {
    width: 200px;
  
    background-color: rgb(77, 114, 77);
    color: rgb(244, 225, 203);
  
    letter-spacing: 0.2em;
    font-size: 24px;
  
    padding: 10px;
    text-transform: uppercase;
  
    border: 0;
  
    margin: 0 auto;
  }
  
  ::placeholder {
    color: rgb(77, 114, 77);
    font-style: italic;
    font-family: 'Roboto', sans-serif;
  }
  
  form div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: rgb(77, 114, 77);
  }
  
  form div input {
    width: 20px;
    height: 20px;
  }
  
  #root > div {
    width: 120px;
    height: 120px;
  
    background-color: rgb(77, 114, 77);
    color: rgb(244, 225, 203);
  
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
  
    border-radius: 50%;
  
    position: fixed;
    bottom: 20px;
    right: 20px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media only screen and (max-width: 480px) {
    h1 {
      font-size: 24px;
      text-align: left;
    }
  }

  input[type="checkbox"] {
    outline: 1px solid black;
  }

  #root > div:hover, button:hover {
    cursor: pointer;
    background-color: rgb(50, 75, 50);
  }